-- MySQL dump 10.13  Distrib 8.0.41, for Win64 (x86_64)
--
-- Host: localhost    Database: taxi_app
-- ------------------------------------------------------
-- Server version	8.0.41

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `address`
--

DROP TABLE IF EXISTS `address`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `address` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `reference` varchar(255) DEFAULT NULL,
  `location` point NOT NULL /*!80003 SRID 4326 */,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=56 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `address`
--

LOCK TABLES `address` WRITE;
/*!40000 ALTER TABLE `address` DISABLE KEYS */;
/*!40000 ALTER TABLE `address` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admin`
--

DROP TABLE IF EXISTS `admin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `id_user` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKr551dbnsfl91u48e1guj444xs` (`id_user`),
  CONSTRAINT `FKrl983wxr3dtij1ug9fvdy89c8` FOREIGN KEY (`id_user`) REFERENCES `user_entity` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin`
--

LOCK TABLES `admin` WRITE;
/*!40000 ALTER TABLE `admin` DISABLE KEYS */;
/*!40000 ALTER TABLE `admin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cab`
--

DROP TABLE IF EXISTS `cab`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cab` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `idDriver` bigint NOT NULL,
  `idVehicle` bigint NOT NULL,
  `status` enum('DISABLE','ENABLE','WORKING') NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKnip40ygqor3sygy043tfew9qv` (`idDriver`),
  UNIQUE KEY `UK2x0mnlw5p8i4teg6api2iac8u` (`idVehicle`),
  CONSTRAINT `FKa81gupdjlkd1i2wk9uh7cwun9` FOREIGN KEY (`idVehicle`) REFERENCES `vehicle` (`id`),
  CONSTRAINT `FKkwjspjhkvh2kpalqvjvx3a6io` FOREIGN KEY (`idDriver`) REFERENCES `driver` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cab`
--

LOCK TABLES `cab` WRITE;
/*!40000 ALTER TABLE `cab` DISABLE KEYS */;
INSERT INTO `cab` VALUES (2,3,12,'WORKING'),(3,4,13,'DISABLE'),(4,5,14,'ENABLE'),(5,6,15,'DISABLE');
/*!40000 ALTER TABLE `cab` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `car`
--

DROP TABLE IF EXISTS `car`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `car` (
  `id` bigint NOT NULL,
  `chassisNumber` varchar(25) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKqdbiapfvdpq75mr3vm49q62bm` (`chassisNumber`),
  CONSTRAINT `FK5rof0pea0h6knybyi7f2psqcc` FOREIGN KEY (`id`) REFERENCES `vehicle` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `car`
--

LOCK TABLES `car` WRITE;
/*!40000 ALTER TABLE `car` DISABLE KEYS */;
INSERT INTO `car` VALUES (15,NULL),(12,'1230'),(13,'1231'),(14,'1232');
/*!40000 ALTER TABLE `car` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `city`
--

DROP TABLE IF EXISTS `city`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `city` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `idProvince` bigint DEFAULT NULL,
  `name` varchar(50) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKrbm23augk9qqlwlatdmgnfq3k` (`idProvince`),
  CONSTRAINT `FKrbm23augk9qqlwlatdmgnfq3k` FOREIGN KEY (`idProvince`) REFERENCES `province` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `city`
--

LOCK TABLES `city` WRITE;
/*!40000 ALTER TABLE `city` DISABLE KEYS */;
/*!40000 ALTER TABLE `city` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `client`
--

DROP TABLE IF EXISTS `client`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `client` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `id_user_entity` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKjbexfw35xyk69gsun48n4bjy8` (`id_user_entity`),
  CONSTRAINT `FKact5h5n2ofrmxjsy4nsco6h4e` FOREIGN KEY (`id_user_entity`) REFERENCES `user_entity` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `client`
--

LOCK TABLES `client` WRITE;
/*!40000 ALTER TABLE `client` DISABLE KEYS */;
INSERT INTO `client` VALUES (1,1),(2,7),(3,8),(4,10);
/*!40000 ALTER TABLE `client` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `client_address`
--

DROP TABLE IF EXISTS `client_address`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `client_address` (
  `id` bigint NOT NULL,
  `idClient` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKfu0oqlpk7493p24h5s28d7x1u` (`idClient`),
  CONSTRAINT `FKfu0oqlpk7493p24h5s28d7x1u` FOREIGN KEY (`idClient`) REFERENCES `client` (`id`),
  CONSTRAINT `FKk7pnn981jqoxmlsc5m71ughfj` FOREIGN KEY (`id`) REFERENCES `address` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `client_address`
--

LOCK TABLES `client_address` WRITE;
/*!40000 ALTER TABLE `client_address` DISABLE KEYS */;
/*!40000 ALTER TABLE `client_address` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clientaddress`
--

DROP TABLE IF EXISTS `clientaddress`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clientaddress` (
  `id` bigint NOT NULL,
  `idClient` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK6262pdtr00038q7dj0ctsoodl` (`idClient`),
  CONSTRAINT `FK6262pdtr00038q7dj0ctsoodl` FOREIGN KEY (`idClient`) REFERENCES `client` (`id`),
  CONSTRAINT `FKfg3r17enlop304w77eokd8xh5` FOREIGN KEY (`id`) REFERENCES `address` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clientaddress`
--

LOCK TABLES `clientaddress` WRITE;
/*!40000 ALTER TABLE `clientaddress` DISABLE KEYS */;
/*!40000 ALTER TABLE `clientaddress` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `driver`
--

DROP TABLE IF EXISTS `driver`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `driver` (
  `entryDate` date NOT NULL,
  `experienceYears` int DEFAULT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `idLicense` bigint DEFAULT NULL,
  `idUser` bigint NOT NULL,
  `address` varchar(150) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKmyyuln0flm9a60xw0bonah8h4` (`idUser`),
  UNIQUE KEY `UKk7v3y5gbxexaaqmrunqre6wf1` (`idLicense`),
  CONSTRAINT `FKbx7nijp1gx2dlafetr0vfd7iv` FOREIGN KEY (`idUser`) REFERENCES `user_entity` (`id`),
  CONSTRAINT `FKpeb7vjps6pwy80m4xaxhuns8c` FOREIGN KEY (`idLicense`) REFERENCES `license` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `driver`
--

LOCK TABLES `driver` WRITE;
/*!40000 ALTER TABLE `driver` DISABLE KEYS */;
INSERT INTO `driver` VALUES ('2025-07-06',NULL,3,3,4,'one direction'),('2025-07-06',NULL,4,4,5,'one direction'),('2025-07-06',NULL,5,5,6,'one direction'),('2025-07-09',NULL,6,6,9,NULL);
/*!40000 ALTER TABLE `driver` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fare`
--

DROP TABLE IF EXISTS `fare`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fare` (
  `baseFare` double NOT NULL,
  `createdAt` date NOT NULL,
  `id` int NOT NULL,
  `pricePerKm` double NOT NULL,
  `pricePerMinute` double NOT NULL,
  `updatedAt` date DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fare`
--

LOCK TABLES `fare` WRITE;
/*!40000 ALTER TABLE `fare` DISABLE KEYS */;
INSERT INTO `fare` VALUES (2,'2025-07-06',1,0.5,0.25,NULL);
/*!40000 ALTER TABLE `fare` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `license`
--

DROP TABLE IF EXISTS `license`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `license` (
  `expirationDate` date DEFAULT NULL,
  `issuanceDate` date DEFAULT NULL,
  `licenseType` varchar(1) NOT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `driverLicense` varchar(50) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKfhue9sr1c02tde0qtjn6tj1uj` (`driverLicense`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `license`
--

LOCK TABLES `license` WRITE;
/*!40000 ALTER TABLE `license` DISABLE KEYS */;
INSERT INTO `license` VALUES ('2025-07-06','2025-07-06','a',3,'jkl10'),('2025-07-06','2025-07-06','a',4,'jkl11'),('2025-07-06','2025-07-06','a',5,'jkl12'),(NULL,NULL,'B',6,'23');
/*!40000 ALTER TABLE `license` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notification`
--

DROP TABLE IF EXISTS `notification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notification` (
  `id` bigint NOT NULL,
  `message` text,
  `title` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notification`
--

LOCK TABLES `notification` WRITE;
/*!40000 ALTER TABLE `notification` DISABLE KEYS */;
/*!40000 ALTER TABLE `notification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notification_seq`
--

DROP TABLE IF EXISTS `notification_seq`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notification_seq` (
  `next_val` bigint DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notification_seq`
--

LOCK TABLES `notification_seq` WRITE;
/*!40000 ALTER TABLE `notification_seq` DISABLE KEYS */;
INSERT INTO `notification_seq` VALUES (1);
/*!40000 ALTER TABLE `notification_seq` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment`
--

DROP TABLE IF EXISTS `payment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payment` (
  `amount` double NOT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `transactionCode` binary(16) NOT NULL,
  `paymentMethod` enum('CASH','CREDIT_CARD','DEBIT_CARD') NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment`
--

LOCK TABLES `payment` WRITE;
/*!40000 ALTER TABLE `payment` DISABLE KEYS */;
/*!40000 ALTER TABLE `payment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `permission`
--

DROP TABLE IF EXISTS `permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `permission` (
  `createdAt` date NOT NULL,
  `isDeleted` bit(1) NOT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `description` varchar(255) DEFAULT NULL,
  `permissionName` enum('CREATE','DELETE','READ','UPDATE') NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `permission`
--

LOCK TABLES `permission` WRITE;
/*!40000 ALTER TABLE `permission` DISABLE KEYS */;
INSERT INTO `permission` VALUES ('2025-07-09',_binary '\0',1,NULL,'CREATE'),('2025-07-09',_binary '\0',2,NULL,'UPDATE'),('2025-07-09',_binary '\0',3,NULL,'READ'),('2025-07-09',_binary '\0',4,NULL,'CREATE'),('2025-07-09',_binary '\0',5,NULL,'UPDATE'),('2025-07-09',_binary '\0',6,NULL,'READ');
/*!40000 ALTER TABLE `permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `province`
--

DROP TABLE IF EXISTS `province`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `province` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKmoejme3ohebd07k2d4b70l8vh` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `province`
--

LOCK TABLES `province` WRITE;
/*!40000 ALTER TABLE `province` DISABLE KEYS */;
INSERT INTO `province` VALUES (1,'guayas');
/*!40000 ALTER TABLE `province` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ride`
--

DROP TABLE IF EXISTS `ride`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ride` (
  `endDate` datetime(6) DEFAULT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `id_address_destiny` bigint DEFAULT NULL,
  `id_address_origin` bigint DEFAULT NULL,
  `id_cab` bigint DEFAULT NULL,
  `id_client` bigint DEFAULT NULL,
  `id_payment` bigint DEFAULT NULL,
  `startDate` datetime(6) NOT NULL,
  `status` enum('ENDED','INCONSISTENT','INITIALIZED','IN_PROCESS','READY_TO_START','ORIGIN_CONFIRMED','READY_TO_FINALLY') DEFAULT NULL,
  `endAddressReference` varchar(255) DEFAULT NULL,
  `startAddressReference` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKt5ls3j2p6pbigs0jm3tu2kr0v` (`id_address_destiny`),
  UNIQUE KEY `UKssgwjhr2mj84g2pt4c2ax8kfh` (`id_address_origin`),
  UNIQUE KEY `UKp2nfoswxm1c5rj9jax8kmijoe` (`id_payment`),
  KEY `FK5x88vg5seeacb14xocdomgah1` (`id_cab`),
  KEY `FK42sarrvnc9x3lau73pe7ruc0a` (`id_client`),
  CONSTRAINT `FK1cqw7debobmr3ub9wsh82ebww` FOREIGN KEY (`id_payment`) REFERENCES `payment` (`id`),
  CONSTRAINT `FK42sarrvnc9x3lau73pe7ruc0a` FOREIGN KEY (`id_client`) REFERENCES `client` (`id`),
  CONSTRAINT `FK5x88vg5seeacb14xocdomgah1` FOREIGN KEY (`id_cab`) REFERENCES `cab` (`id`),
  CONSTRAINT `FKfbehgqomlm9u48hsdwesbqkce` FOREIGN KEY (`id_address_origin`) REFERENCES `address` (`id`),
  CONSTRAINT `FKsv2l831c4nysk8x6q9lxbf4oc` FOREIGN KEY (`id_address_destiny`) REFERENCES `address` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ride`
--

LOCK TABLES `ride` WRITE;
/*!40000 ALTER TABLE `ride` DISABLE KEYS */;
/*!40000 ALTER TABLE `ride` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `road_notification`
--

DROP TABLE IF EXISTS `road_notification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `road_notification` (
  `id` bigint NOT NULL,
  `idClient` bigint DEFAULT NULL,
  `idTaxi` bigint DEFAULT NULL,
  `status` enum('ACCEPTED','PENDING','REJECTED','TIMEOUT') NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKb3ycuuvgoyqp21dp80w28ikyr` (`idTaxi`),
  KEY `FKn9m85xvolynu1o9jyt7qt1hd5` (`idClient`),
  CONSTRAINT `FKal500b5wukv2saoyc5x7vt1m5` FOREIGN KEY (`id`) REFERENCES `notification` (`id`),
  CONSTRAINT `FKb3ycuuvgoyqp21dp80w28ikyr` FOREIGN KEY (`idTaxi`) REFERENCES `cab` (`id`),
  CONSTRAINT `FKn9m85xvolynu1o9jyt7qt1hd5` FOREIGN KEY (`idClient`) REFERENCES `client` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `road_notification`
--

LOCK TABLES `road_notification` WRITE;
/*!40000 ALTER TABLE `road_notification` DISABLE KEYS */;
/*!40000 ALTER TABLE `road_notification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role`
--

DROP TABLE IF EXISTS `role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `role` (
  `createdAt` date DEFAULT NULL,
  `isDeleted` bit(1) NOT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `description` text,
  `roleName` enum('ADMINISTRATOR','CAB','CLIENT') NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role`
--

LOCK TABLES `role` WRITE;
/*!40000 ALTER TABLE `role` DISABLE KEYS */;
INSERT INTO `role` VALUES ('2025-07-09',_binary '\0',1,NULL,'CLIENT'),('2025-07-09',_binary '\0',2,NULL,'CAB');
/*!40000 ALTER TABLE `role` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role_permission`
--

DROP TABLE IF EXISTS `role_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `role_permission` (
  `permission_id` bigint NOT NULL,
  `role_id` bigint NOT NULL,
  KEY `FKaxqtkkksr2o7sbssm7cbydnbs` (`permission_id`),
  KEY `FKonkb3lbd5mpvfcobxnklep1bo` (`role_id`),
  CONSTRAINT `FKaxqtkkksr2o7sbssm7cbydnbs` FOREIGN KEY (`permission_id`) REFERENCES `permission` (`id`),
  CONSTRAINT `FKonkb3lbd5mpvfcobxnklep1bo` FOREIGN KEY (`role_id`) REFERENCES `role` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role_permission`
--

LOCK TABLES `role_permission` WRITE;
/*!40000 ALTER TABLE `role_permission` DISABLE KEYS */;
INSERT INTO `role_permission` VALUES (1,1),(2,1),(3,1),(4,2),(5,2),(6,2);
/*!40000 ALTER TABLE `role_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `taxi_live_address`
--

DROP TABLE IF EXISTS `taxi_live_address`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `taxi_live_address` (
  `id` bigint NOT NULL,
  `idCab` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKh9ldxd5623of4xnee9i4kiniw` (`idCab`),
  CONSTRAINT `FKjjwsply6j1xeaffwebplf5kwn` FOREIGN KEY (`idCab`) REFERENCES `cab` (`id`),
  CONSTRAINT `FKsffpvq2g0mgi7iai6e37kx295` FOREIGN KEY (`id`) REFERENCES `address` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `taxi_live_address`
--

LOCK TABLES `taxi_live_address` WRITE;
/*!40000 ALTER TABLE `taxi_live_address` DISABLE KEYS */;
INSERT INTO `taxi_live_address` VALUES (1,2),(2,3),(3,4);
/*!40000 ALTER TABLE `taxi_live_address` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_entity`
--

DROP TABLE IF EXISTS `user_entity`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_entity` (
  `bornDate` date DEFAULT NULL,
  `createdAt` date NOT NULL,
  `isDeleted` bit(1) NOT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `idRole` bigint DEFAULT NULL,
  `phone` varchar(10) NOT NULL,
  `lastNames` varchar(60) NOT NULL,
  `names` varchar(60) NOT NULL,
  `email` varchar(80) NOT NULL,
  `createdBy` varchar(255) NOT NULL,
  `passwordHash` text NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKll348lnu5lnl0in3x43jtxa3t` (`phone`),
  UNIQUE KEY `UK4xad1enskw4j1t2866f7sodrx` (`email`),
  KEY `FK950ow3g117f64n7n46dye74fh` (`idRole`),
  CONSTRAINT `FK950ow3g117f64n7n46dye74fh` FOREIGN KEY (`idRole`) REFERENCES `role` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_entity`
--

LOCK TABLES `user_entity` WRITE;
/*!40000 ALTER TABLE `user_entity` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_entity` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vehicle`
--

DROP TABLE IF EXISTS `vehicle`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vehicle` (
  `year` varchar(4) NOT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `licensePlate` varchar(15) NOT NULL,
  `brand` varchar(50) NOT NULL,
  `model` varchar(50) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKhj07agdhkyjh9fxm5ls27nfaa` (`licensePlate`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vehicle`
--

LOCK TABLES `vehicle` WRITE;
/*!40000 ALTER TABLE `vehicle` DISABLE KEYS */;
INSERT INTO `vehicle` VALUES ('2025',12,'j10','b10','Chevrolet'),('2025',13,'j11','b11','Chevrolet'),('2025',14,'j12','b12','Chevrolet'),('2005',15,'WJD','Kia','N1');
/*!40000 ALTER TABLE `vehicle` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vehicle_maintenance`
--

DROP TABLE IF EXISTS `vehicle_maintenance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vehicle_maintenance` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `id_vehicle` bigint DEFAULT NULL,
  `Description` text NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKd33u94rjls9ac988lnow35aqm` (`id_vehicle`),
  CONSTRAINT `FKd33u94rjls9ac988lnow35aqm` FOREIGN KEY (`id_vehicle`) REFERENCES `vehicle` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vehicle_maintenance`
--

LOCK TABLES `vehicle_maintenance` WRITE;
/*!40000 ALTER TABLE `vehicle_maintenance` DISABLE KEYS */;
/*!40000 ALTER TABLE `vehicle_maintenance` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-07-10 15:33:09
